
.new-meal-form {
  display: flex;
  justify-content: center;
}

.meal-edit-form {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input, textarea {
      margin-left: 30px;
    }
    button {
      color: black;
      margin: 10px;
      margin-left: 25px;
      &:hover {
        border: 1px solid white !important;
        color: white;
      }
    }
  }
}

.filterBar {
  text-align: center;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:focus {
    outline: none;
  }
  select {
    background-color: rgba(255,255,255, .8);
    color: darken(gray, 10%);
    border: none;
    margin: 10px auto;
    text-align: center;
    height: 30px;
    width: 140px;
  }
  span {
    font-size: 20px;
    opacity: .6;
    color: white;
  }
}

input, textarea {
  background-color: rgba(255,255,255, .8);
  color: black;
  border: none;
  margin: 5px;
  text-align: center;
  height: 30px;
  border-radius: 2px;
  &:focus {
    outline: none;
  }
}

textarea {
  padding-top: 5px;
}


button {
  border: none;
  background-color: rgba(255,255,255, .8);
  padding: 0px 30px;
  color: gray;
  height: 31px;
  margin-top: 5px;
  border-radius: 2px;
  margin-left: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  &:hover {
    background-color: rgba(0,0,0, .8);
    color: white;
  }
}

.mealList {
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .mealItem {
    background-color: rgba(0,0,0, .2);
    border-radius: 2px;
    padding: 10px;
    width: 200px;
    text-align: center;
    border: 1px solid white;
    margin: 10px;
    &:hover {
      cursor: pointer;
      background-color: rgba(0,0,0, .7);
    }
  }
}
h3 {
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

.mealDetails {
  text-align: center;
  button {
    color: black;
    margin-left: 20px;
    &:hover {
      border: 1px solid white;
      color: white;
    }
  }
}

.selected *{
  display: block !important;
}

.mealItem div{
  display: none;
}
