
.new-meal-form {
  display: flex;
  justify-content: center;
}

.filterBar {
  text-align: center;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:focus {
    outline: none;
  }
  select {
    background-color: rgba(255,255,255, .8);
    color: darken(gray, 10%);
    border: none;
    margin: 10px auto;
    text-align: center;
    height: 30px;
    width: 140px;
  }
  span {
    font-size: 20px;
    opacity: .6;
    color: white;
  }
}

input, textarea {
  background-color: rgba(255,255,255, .8);
  color: black;
  border: none;
  margin: 5px;
  text-align: center;
  height: 30px;
  border-radius: 2px;
  &:focus {
    outline: none;
  }
}

textarea {
  padding-top: 5px;
}


button {
  border: none;
  background-color: rgba(255,255,255, .8);
  padding: 0px 30px;
  color: gray;
  height: 31px;
  margin-top: 5px;
  border-radius: 2px;
  margin-left: 5px;
  &:hover {
    background-color: rgba(0,0,0, .8);
    color: white;
  }
}

.mealList {
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .mealItem {
    background-color: rgba(0,0,0, .2);
    padding: 10px;
    width: 200px;
    text-align: center;
    margin: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}
h3 {
  color: white;
  text-align: center;
  letter-spacing: 2px;
}


.selected{
  color: #22bdf0;;
}

.selected *{
  color: #22bdf0;
  display: block !important;
}

.mealItem div{
  display: none;
}
