// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------


.footer {
  margin-top: 50px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
  a {
    color: gray;
  }
}
